#cloud-config
package_update: true
packages:
  - nginx
  - ca-certificates

write_files:
  - path: /etc/systemd/system/app.service
    permissions: '0644'
    content: |
      [Unit]
      Description=Go API
      After=network.target

      [Service]
      ExecStart=/usr/local/bin/app
      Restart=always
      User=ubuntu

      [Install]
      WantedBy=multi-user.target

  - path: /etc/nginx/sites-available/simple-api
    permissions: '0644'
    content: |
      server {
          listen 80;
          server_name _;

          location / {
              proxy_pass http://127.0.0.1:8080;
              proxy_http_version 1.1;

              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }
      }

runcmd:
  - iptables -I INPUT 5 -m state --state NEW -p tcp --dport 80 -j ACCEPT
  - iptables -I INPUT 5 -m state --state NEW -p tcp --dport 443 -j ACCEPT
  - netfilter-persistent save
  - ln -s /etc/nginx/sites-available/simple-api /etc/nginx/sites-enabled/simple-api
  - rm -f /etc/nginx/sites-enabled/default
  - systemctl daemon-reload
  - systemctl enable app
  - systemctl restart nginx
