name: CI

on: 
    pull_request:
    push:
        branches: [ "main" ]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                go-version: ['1.22.x']

        steps:
            - uses: actions/checkout@v5
            - name: Setup Go
              uses: actions/setup-go@v5
              with:
                go-version: '1.22.x'
            - name: Build
              run: go build -v ./...
            - name: Test with Go CLI 
              run: go test