name: CI

on: 
    pull_request:
    push:
        branches: [ "main" ]
    workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.x'
      - name: Build
        working-directory: simple-api
        run: go build -v ./...
      - name: Test
        working-directory: simple-api
        run: go test ./...